
.navbar ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.navbar a{
  text-decoration: none;
  font-size: 2rem;
  color: rgb(3, 146, 146);
}
